<!DOCTYPE html>
    <meta charset="UTF-8">
        <head>
            <title>Button</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/CSS Documents/Blockgrid Style.css"> 
        </head>
        <body>
            <button class="Button">Klik hier</button>
            <script src="/Javascript Documents/Button script.js"></script>
        </body>
        

        
    